<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    My App
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/admin/poll-form']">Add Poll</a>
        <a mat-list-item [routerLink]="['/admin/poll-table']">Poll Table</a>
        <a mat-list-item [routerLink]="['/link3']">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Main content goes here -->
      <!-- <app-poll-form></app-poll-form> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  